.metadata
/pythonProject/.venv
/pythonProject/.idea
/pythonProject/Com/Port/__pycache__
/pythonProject/Configure/__pycache__
/pythonProject/Com/CAN/__pycache__
/pythonProject/Com/Download/__pycache__
/pythonProject/Com/Log/__pycache__
/pythonProject/Com/Power/__pycache__
/pythonProject/Com/Protocol/__pycache__
/pythonProject/Excel/__pycache__
/pythonProject/Madp/__pycache__
/pythonProject/Pump/__pycache__
/pythonProject/RotaryValve/__pycache__
/pythonProject/Test/MADPAPITest/ktlog
